<h1>Buddy - how can I help?</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label> <br>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <br>
  <br>
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>
